[build]
  command = "npm run build"
  publish = ".next"

[[plugins]]
  package = "@netlify/plugin-nextjs"

[build.environment]
  NODE_VERSION = "20"
  NEXT_PUBLIC_API_BASE_URL = "https://api.patronmag.com"
  NEXT_TELEMETRY_DISABLED = "1"
  NODE_TLS_REJECT_UNAUTHORIZED = "0"